:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;

  svg {
    width: 1.6rem;
    animation: svg-fade-in 0.5s ease-in-out;
    position: absolute;
    top: 2rem;
    left: 2rem;

    &.user-picture {
      border-radius: 100%;
    }
  }

  b-card {
    width: 400px;
    animation: card-fade-in 0.4s ease-out;

    .final-url {
      border: 1px dashed var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
}

/* 👇 animación definida */
@keyframes card-fade-in {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
