<h1>JobGrid</h1>
<h3>The best place to find your next job</h3>
<button (click)="logInWithLinkedIn()">Log in with LinkedIn</button>

@if (user()) {
  @let metatada = user()?.user_metadata;
  <h2>User Metadata</h2>
  <table border="1">
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ metatada?.email }}</td>
    </tr>
    <tr>
      <td>Email Verified</td>
      <td>{{ metatada?.email_verified }}</td>
    </tr>
    <tr>
      <td>Family Name</td>
      <td>{{ metatada?.family_name }}</td>
    </tr>
    <tr>
      <td>Given Name</td>
      <td>{{ metatada?.given_name }}</td>
    </tr>
    <tr>
      <td>Issuer</td>
      <td>{{ metatada?.iss }}</td>
    </tr>
    <tr>
      <td>Locale</td>
      <td>{{ metatada?.locale }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ metatada?.name }}</td>
    </tr>
    <tr>
      <td>Phone Verified</td>
      <td>{{ metatada?.phone_verified }}</td>
    </tr>
    <tr>
      <td>Picture</td>
      <td><img [src]="metatada?.picture" alt="User Picture" width="100" /></td>
    </tr>
    <tr>
      <td>Provider ID</td>
      <td>{{ metatada?.provider_id }}</td>
    </tr>
    <tr>
      <td>Sub</td>
      <td>{{ metatada?.sub }}</td>
    </tr>
  </table>
}
