:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  gap: 0.5rem;

  svg {
    width: 4rem;
    animation: svg-fade-in 0.5s ease-in-out;

    &.user-picture {
      border-radius: 100%;
    }
  }

  h1 {
    font-size: 2rem;
    margin: 1rem;
    opacity: 0;
    animation: h1-fade-in 0.5s 0.2s ease-in-out forwards;
  }

  .stay-tuned {
    position: absolute;
    bottom: 1rem;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    outline: 2px solid #0d3311;
    outline-offset: 2px;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@keyframes svg-fade-in {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes h1-fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
