:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;

  img {
    width: 100px;
    animation: img-fade-in 0.5s ease-in-out;

    &.user-picture {
      border-radius: 100%;
    }
  }

  h1 {
    font-size: 2rem;
    margin: 0.5rem;
    opacity: 0;
    animation: h1-fade-in 0.5s 0.2s ease-in-out forwards;
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
}

@keyframes img-fade-in {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes h1-fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
