<h1>JobGrid</h1>
<h3>The best place to find your next job</h3>
<button (click)="logInWithLinkedIn()">Log in with LinkedIn</button>

@if (userMetadata()) {
  <h2>User Metadata</h2>
  <table border="1">
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ userMetadata()?.email }}</td>
    </tr>
    <tr>
      <td>Email Verified</td>
      <td>{{ userMetadata()?.email_verified }}</td>
    </tr>
    <tr>
      <td>Family Name</td>
      <td>{{ userMetadata()?.family_name }}</td>
    </tr>
    <tr>
      <td>Given Name</td>
      <td>{{ userMetadata()?.given_name }}</td>
    </tr>
    <tr>
      <td>Issuer</td>
      <td>{{ userMetadata()?.iss }}</td>
    </tr>
    <tr>
      <td>Locale</td>
      <td>{{ userMetadata()?.locale }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ userMetadata()?.name }}</td>
    </tr>
    <tr>
      <td>Phone Verified</td>
      <td>{{ userMetadata()?.phone_verified }}</td>
    </tr>
    <tr>
      <td>Picture</td>
      <td><img [src]="userMetadata()?.picture" alt="User Picture" width="100" /></td>
    </tr>
    <tr>
      <td>Provider ID</td>
      <td>{{ userMetadata()?.provider_id }}</td>
    </tr>
    <tr>
      <td>Sub</td>
      <td>{{ userMetadata()?.sub }}</td>
    </tr>
  </table>
}
