/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '@basis-ng/styles';
@import url('styles/theme.css');

html {
  background: #effbf4;
  color: #0d3311;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

b-card {
  backdrop-filter: blur(10px);
}
