/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

html {
  background-color: #adebb3;
  color: #0d3311;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Geist', sans-serif;
}
